/* Reset Page */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* body styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkblue;
  height: 100vh;
}
/* calculator style */
.calc {
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.854) inset;
  border-radius: 4% 4% 12% 12%;
  height: 95vh;
  width: 50vh;
  position: absolute;
  margin: auto;
}
/* Heading Calc */
/* Calculator Heading */
.heading {
  margin-top: 10px;
  width: 80%;
}
/*Casio Name style*/
.name-type {
  flex-grow: 1;
}
/* Solar Panel style */
.solar {
  gap: 1.5px;
  border: 3px solid black;
  border-radius: 10px;
  width: 60%;
  background-color: rgb(168, 164, 164);
}
.solar-power {
  display: flex;
  gap: 2px;
  align-items: stretch;
  height: 100%;
}
.solar-power > div {
  flex-grow: 1;
  flex-grow: 1;
  background-color: rgb(80, 80, 80);
  text-align: center;
  padding: 10px;
}
.first {
  border-radius: 5px 0px 0px 5px;
}
.fourth {
  border-radius: 0px 5px 5px 0px;
}
/* ###Solar Panel style### */

#brand {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -1px;
}
.function_type {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calc-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-style: italic;
  
}
#type-text{
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  color: darkblue;
  visibility:hidden;
}
.calc-featuers {
  width: 100%;
  gap: 100px;
  align-items: center;
}
/* result area */
.result {
  margin-top: 10px;
  width: 80%;
  height: 16%;
  display: flex;
  justify-content: center;
  position: relative;
}
.display {
  outline: 1px solid rgba(74, 70, 70, 0.639);
  outline-offset: 5px;
  box-shadow: 0px -1px 15px rgba(13, 53, 38, 0.945) inset;
  border-radius: 6px;
  background-color: rgb(166, 191, 172);
  width: 100%;
  padding: 10px 8px;
  resize: none;
  overflow: hidden;
}

/* ###Heading Calc### */
/* advanced Buttons Style */
.advanced-butons {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  place-items: center;
}
/* functions buttons */
.button1 {
  background: linear-gradient(#464545, #323232);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.854);
  border-radius: 5px 5px 40% 40%;
  height: 3.36vh;
  width: 5.37vh;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
}
/* control buttons */
.button2 {
  background: linear-gradient(#aabcdb, #798fb0);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.854);
  border-radius: 5px 5px 40% 40%;
  height: 3.36vh;
  width: 5.37vh;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 500;
}
/* replay button */
#replay {
  grid-column: 3/5;
  grid-row: 1/3;
  background-color: #a3b9d8;
  box-shadow: 0px -1px 25px #798fb0 inset;
  outline: 2px solid #798fb0;
  border: 1px solid #a3b9d8;
  width: 90%;
  height: 80%;
  border-radius: 100%;
  color: #5e7597;
  padding-top: 30%;
}
/* numbers buttons */
.number-buttons {
  background-color: transparent;
  height: 40vh;
  width: 90%;
  display: grid;
  gap: -5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
}

.button3 {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.854);
  border-radius: 5px 5px 45% 45%;
  height: 5.2vh;
  width: 7.72vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
}

/* flexbox  */
.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row {
  display: flex;
}
.hidden {
  visibility: hidden;
}
